.nav-wrapper {
    background-color: white;
}

nav .brand-logo {
    margin-left: 30px;
    color: gray;
    font-weight: bold;
}

#nav-mobile {
    margin-right: 30px;
}

nav ul a {
    color: gray;
}

#im-in {
    margin-top: 50px;
    width: 100%;
    height: 415px;
}

.card-panel {
    margin-top: 50px;
    height: 415px;
    color: gray;
}

#github {
    padding: 3px;
}

#linkedin {
    padding: 3px;
}

#email {
    padding: 3px;
}

.card .card-image img {
    height: 200x;
}

.projects {
    padding-top: 30px;
}

#link {
    padding: 3px;
}

